Source: sync-monitor
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
# :all is a workaround for dh-translations not having Multi-Arch set in xenial
               dh-translations:all,
               google-mock,
               libaccounts-qt5-dev,
               libnotify-dev,
               liburl-dispatcher1-dev,
               libsignon-qt5-dev,
               pkg-config,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtpim5-dev (>= 5.0~git20171109~0bd985b),
Standards-Version: 3.9.5
Homepage: https://launchpad.net/sync-monitor
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:sync-monitor
X-Ubuntu-Use-Langpack: yes

Package: sync-monitor
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
         account-plugin-google,
         syncevolution-dbus (>= 1.4),
         syncevolution-provider-uoa (>= 1.4),
         sync-monitor-helper (>= ${binary:Version}),
         qtcontacts-sqlite-qt5-extension,
         qtorganizer5-eds,
Description: Ubuntu online account sync monitor plugin
 sync-monitor manages data synchronization of contacts and calendars
 .
 With this package you can keep track of Ubuntu online accounts and sync 
 with the cloud.

Package: sync-monitor-uoa
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         sync-monitor (>= ${binary:Version}),
Description: Ubuntu online account sync monitor plugin - service files
 sync-monitor manages data synchronization of calendars and contacts.
 .
 With this package you can keep track of Ubuntu online accounts and sync 
 with the cloud.
 .
 This package contains the ubuntu online accounts service files.

Package: qtdeclarative5-ubuntu-syncmonitor0.1
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu online account sync monitor plugin - QML bindings
 sync-monitor manages data synchronization of contacts and calendars
 .
 This package contains the QML plugin providing the features from the sync
 monitor to applications.

Package: sync-monitor-helper
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends}
Description: Ubuntu online account sync monitor plugin - helper to re-authenticate
 the online accounts.
 .
 With this package you can keep track of Ubuntu online accounts and sync 
 with the cloud.
 .
 This package contains the ubuntu online accounts service files.
